
name: Deploy to Hostinger VPS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: 22
          script: |
            export PATH=$PATH:/root/.nvm/versions/node/v20.19.6/bin
            cd /root/besthoustunchiros
            git pull origin main
            npm install
            npm run build
            pm2 restart besthoustunchiros || pm2 start npm --name "besthoustunchiros" -- start
